<div class="footer" fxLayout="row" fxLayoutGap="10px" fxLayoutAlight="start start">

    <h3 fxFlex="15" fxFlex.xs="25" fxFlexOffset.gt-sm="10" fxFlexOffset="5">Kontakt</h3>

    <div class="contact-info" fxFlex="50" fxFlex.gt-sm="40" fxLayout="column" fxLayoutGap="10px"
        fxLayoutAlign="center stretch">
        <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlight="center center">
            <div id="description-email" fxFlex fxFlex.gt-md="20">
                E-Mail:
            </div>
            <div fxFlex>
                <a href="mailto:timo.radtke@wwu.de"><img class="email-logo" src="assets/email.png"></a> 
                <span id="email-info" fxHide="true" fxShow.gt-sm="true">timo.radtke@wwu.de</span>
            </div>
        </div>
        <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlight="center center">
            <div id="description" fxFlex fxFlex.gt-md="20">
                LinkedIn:
            </div>
            <div fxFlex>
                <a href="https://www.linkedin.com/in/timo-radtke-9b5136182/">
                    <img class="linkedIn-logo" src="assets/linkedin-32.png"></a>
            </div>
        </div>
        <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlight="center center">
            <div fxFlex fxFlex.gt-md="20" id="description">
                GitHub:
            </div>
            <div fxFlex>
                <a href="https://github.com/Light668">
                    <img class="github-logo" src="assets/GitHub.png">
                </a>
            </div>
        </div>
    </div>

</div>