<div class="footer">
  <!-- fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start" -->

  <h3 class="contact">Kontakt</h3>
  <div class="contact-info">
    <div class="footer-row-item">
      <div id="description">
        E-Mail:
      </div>
      <div class="footer-item-child">
        <a href="mailto:timoradtke2@gmail.com"><img class="email-logo" src="assets/email.png"></a>
        <span id="email-info">timoradtke2&#64;gmail.com</span>
      </div>
    </div>
    <div class="footer-row-item">
      <div id="description">
        LinkedIn:
      </div>
      <div class="footer-item-child">
        <a href="https://www.linkedin.com/in/timo-radtke-9b5136182/">
          <img class="linkedIn-logo" src="assets/linkedin-32.png"></a>
        <span id="linkedin-info">linkedin.com/in/timo-radtke-9b5136182/</span>
      </div>
    </div>
    <div class="footer-row-item">
      <div id="description">
        GitHub:
      </div>
      <div class="footer-item-child">
        <a href="https://github.com/Light668">
          <img class="github-logo" src="assets/GitHub.png">
        </a>
        <span id="github-info">github.com/Light668</span>
      </div>
    </div>
  </div>
</div>