.home-content {
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 10%;
}

#welcome-msg {
  text-align: center;
}

.item-card {
  color: #000000;
  /* font-size: 18px; */
  margin-bottom: 15px;
}

.welcome-card {
  overflow: hidden;
  background-color: #3f51b5;
  color: #ffffff;
  cursor: pointer;
}

/*.welcome-card:hover {
  cursor: pointer;
}

.welcome-card:hover > img {
  opacity: 0.3;
}

.welcome-card:hover > span {
  display: block;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.5);
  padding: 30px;
}

.welcome-card > span {
  display: none;
}*/
