.home-content {
  margin-top: 20px;
  margin: 0 10%;
}

#welcome-msg {
  text-align: center;
}

.card-content {
  padding: 0 16px;
  padding-bottom: 16px;
}

.card-title {
  display: block;
  font-size: 24px;
  font-weight: 500;
  border-radius: 4px;
  padding: 16px;
}

.item-card {
  color: #000000;
  /* font-size: 18px; */
  margin-bottom: 15px;
  flex-basis: calc(25% - 30px);
  flex-shrink: 1;
  box-sizing: border-box;
  margin-right: 30px;
}

@media screen and (max-width: 800px) {
  .item-card {
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    margin-right: 0px;
  }
}

/* fxFlex="0 1 calc(25%-30px)" fxFlex.lt-sm="100% */

.welcome-card {
  overflow: hidden;
  background-color: #3f51b5;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .home-content {
    margin: 0 3% !important;
  }

  .card-container {
    flex-flow: column wrap;
  }

  .card-container>.mat-card {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 960px) {
  .home-content {
    margin: 0 3% !important;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  place-content: stretch space-around;
  box-sizing: border-box;
  align-items: stretch;
}



/*.welcome-card:hover {
  cursor: pointer;
}

.welcome-card:hover > img {
  opacity: 0.3;
}

.welcome-card:hover > span {
  display: block;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.5);
  padding: 30px;
}

.welcome-card > span {
  display: none;
}*/