.home-content {
  margin-top: 20px;
  margin: 0 10%;
}

#welcome-msg {
  text-align: center;
}

.item-card {
  color: #000000;
  /* font-size: 18px; */
  margin-bottom: 15px;
}

.welcome-card {
  overflow: hidden;
  background-color: #3f51b5;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .home-content {
    margin: 0 3% !important;
  }
  .card-container {
    flex-direction: column !important;
  }
  .card-container > .mat-card {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 960px) {
  .home-content {
    margin: 0 3% !important;
  }
}


/*.welcome-card:hover {
  cursor: pointer;
}

.welcome-card:hover > img {
  opacity: 0.3;
}

.welcome-card:hover > span {
  display: block;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.5);
  padding: 30px;
}

.welcome-card > span {
  display: none;
}*/
