<div class="page-content" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
  <div class="home-content" fxFlex>
    <h2 id="welcome-msg" [@fadeIn]="isFaded===true ? 'in' : 'out' ">
      Willkommen auf meiner persönlichen Entwicklerseite!
    </h2>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutAlign="flex-start">
      <mat-card class="item-card welcome-card" fxFlex="0 1 calc(50%-30px)" fxFlex.lt-sm="100%">
        <mat-card-title>Software Entwicklung</mat-card-title>
        <img mat-card-image src="./assets/welcome-software-640.jpg">
        <span> Software Entwicklung ist geil!</span>
        <mat-card-content lang="de" class="card-content">
          Warum Software Entwickler ein Traumberuf ist?
        </mat-card-content>
      </mat-card>

      <mat-card class="item-card" fxFlex="0 1 calc(50%-30px)" fxFlex.lt-sm="100%">
        <mat-card-title>Skillsheet</mat-card-title>
        <img mat-card-image src="./assets/welcome-software-640.jpg">
        <mat-card-content class="card-content">
          Meine wichtigsten und ausgeprägtesten Fähigkeiten.
        </mat-card-content>
      </mat-card>

      <mat-card class="item-card" fxFlex="0 1 calc(50%-30px)" fxFlex.lt-sm="100%">
        <mat-card-title>Lebenslauf</mat-card-title>
        <img mat-card-image src="./assets/welcome-software-640.jpg">
        <mat-card-content class="card-content">
          Eine Übersicht meiner beruflichen und akademischen Stationen.
        </mat-card-content>
      </mat-card>

      <mat-card class="item-card" fxFlex="0 1 calc(50%-30px)" fxFlex.lt-sm="100%">
        <mat-card-title>Persönliches</mat-card-title>
        <img mat-card-image src="./assets/welcome-software-640.jpg">
        <mat-card-content class="card-content">
          Ein kurze Selbstdarstellung meiner Person.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <app-footer fxFlex="1 1 150px" fxFlexFill class="footer-container"></app-footer>
</div>
