<div class="page-content" fxLayout="column" fxLayoutAlign="start space-between" fxLayoutGap="0px"
     xmlns="http://www.w3.org/1999/html">
  <div fxFlex class="interests-content">
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="30px" fxLayoutAlign="flex-start">
      <mat-card class="item-card" fxFlex="0 1 calc(50%-30px)" fxFlex.lt-sm="100%">
        <mat-card-title>Software Entwicklung</mat-card-title>
        <mat-card-content lang="de" class="card-content">
          Die Software Entwicklung bietet ein sehr interessantes und umfangreiches Berufsfeld. So begeistert mich der
          gesamte Entwicklungsprozess von der Anforderungsanalyse, Projektplanung, Implementierung, Testautomatisierung,
          bis hin zum
          Deployment der Release-Version.
          Besonderes Interesse bereitet mir dabei die Software Architektur und die Java-Backend Entwicklung,
          insbesondere die Umsetzung von ERM-Datenbankmodellen im Spring Framework und das Erstellen automatisierter
          Testverfahren.
          <br>
          Bemerkenswert ist außerdem, dass sich <i>"state of the art"</i> -Technologien je nach Anforderungen stetig
          ändern können, so lernt man permanent dazu und garantiert so einen abwechslungsreichen Berufsalltag, wie in
          kaum einer anderen Branche.
          <br> Weitere Themengebiete die mich interessieren sind KI und Machine Learning, Big Data, IoT, Cloud Lösungen
          und DevOps.
        </mat-card-content>
      </mat-card>

      <mat-card class="item-card" fxFlex="0 1 calc(50%-30px)" fxFlex.lt-sm="100%">
        <mat-card-title>Webdesign</mat-card-title>
        <mat-card-content class="card-content">
          Obwohl mein Hauptinteresse der Backend Entwicklung und Software Architektur gilt, bin ich auch der Frontend
          Entwicklung zugeneigt. So arbeite ich mich gerade in die aktuelle Version 11 des Angular Frameworks ein.
          Bereits 2017 hab ich für das Startup Ad-Boxx eine SPA mit dem alten AngularJS Framework entwickelt und so
          erste Erfahrungen in der Webentwicklung gesammelt. Im Frontend Bereich interessiert mich vor allem die
          Entwicklung kundenspezifischer Individual-Lösungen.
          <br> Dazu nutze ich die umfangreichen - und mittlerweile - browserübergreifend kompatiblen Angular Material
          Komponenten. Speziell für Ansprüche an ein
          responsive Webdesign verwende ich das neue flexLayout API, welches speziell für Angular entwickelt
          wurde.
        </mat-card-content>
      </mat-card>

      <mat-card class="item-card" fxFlex="0 1 calc(50%-30px)" fxFlex.lt-sm="100%">
        <mat-card-title>Mathematik und Physik</mat-card-title>
        <mat-card-content class="card-content">
          Mein Studium der Quantenphysik und Mathematik ist zwar bereits einige Jahre her, doch interessiere ich mich
          immer noch auf populärwissenschaftlicher Basis für die aktuelle Forschung. In meinem Studium selbst habe ich
          mich vor allem mit der <i>allgemeinen Relativitätstheorie</i>, den
          kosmologischen Modellen der Urknalltheorie und der <i>Stringtheorie beschäftigt</i>.
          <br> Außerdem werde ich durch meine Freunde, die mittlerweile ihre Postdoc Stellen in der Mathematik und
          Kernphysik angetreten haben, auf dem Laufendem gehalten. So habe ich im vergangenen Jahr an einer Konferenz
          der
          Differentialgeometrie über <i>Gromov-hyperbolische Mannigfaltigkeiten</i> in Münster teilgenommen.
        </mat-card-content>
      </mat-card>

      <mat-card class="item-card" fxFlex="0 1 calc(50%-30px)" fxFlex.lt-sm="100%">
        <mat-card-title>Persönliches</mat-card-title>
        <mat-card-content class="card-content">
          Wenn ich mich nicht mit Learning-Tutorials und Entwickler Blogs beschäftige oder populärwissenschaftliche
          Videos auf YouTube streame, dann mache ich für gewöhnlich Sport, z.B.:
          <ul id="list-sport">
            <li>Tischtennis</li>
            <li>Fitness Studio</li>
            <li>Joggen</li>
          </ul>
          Außerdem koche ich sehr gerne und probiere neue Rezepte aus. Ansonsten verfolge ich die Bundesliga und
          Champions-League oder treffe mich (teils online) mit Freunden.
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex>
  </div>
  <app-footer fxFlex="1 1 150px" class="footer-container"></app-footer>
</div>
