<div class="page-content" xmlns="http://www.w3.org/1999/html">
  <div class="interests-content">

    <mat-card class="item-card" id="software-dev">
      <mat-card-title class="card-title">Software Entwicklung</mat-card-title>
      <mat-card-content lang="de" class="card-content">
        Die Software Entwicklung bietet ein sehr interessantes und umfangreiches Berufsfeld. So begeistert mich der
        gesamte Entwicklungsprozess von der Anforderungsanalyse, Projektplanung, Implementierung, Testautomatisierung,
        bis hin zum
        Deployment der Release-Version.
        Besonderes Interesse bereitet mir dabei die Software Architektur und die Java-Backend Entwicklung,
        insbesondere die Umsetzung von ERM-Datenbankmodellen im Spring Framework und das Erstellen automatisierter
        Testverfahren.
        <br>
        Bemerkenswert ist außerdem, dass sich <i>"state of the art"</i> -Technologien je nach Anforderungen stetig
        ändern können, so lernt man permanent dazu und garantiert so einen abwechslungsreichen Berufsalltag, wie in
        kaum einer anderen Branche.
        <br> Weitere Themengebiete die mich interessieren sind Prozessoptimierung, Big Data, IoT, Cloud Lösungen
        und DevOps.
      </mat-card-content>
    </mat-card>

    <mat-card class="item-card">
      <mat-card-title class="card-title">Webdesign</mat-card-title>
      <mat-card-content class="card-content">
        Obwohl mein Hauptinteresse der Backend Entwicklung und Software Architektur gilt, bin ich auch der Frontend
        Entwicklung zugeneigt. Besonderes Interesse stellt die <i>Backend Discovery</i> und die Kommunikation in
        komplexen
        Plattform Architekturen dar. Besonders anspruchsvoll sind das Traffic Management und die Implementation
        von Echtzeit Applikationen, die eine <i>Event-driven-architecture</i> voraussetzen.
        <br>
        Für individuelles Webdesign stehen einem viele CSS und JavaScript Bibliotheken zur Verfügung. Speziell für
        Ansprüche an ein responsive Webdesign und dynamischen Animationen verwende ich auf dieser Seite das Angular
        Component Developer Kit (CDK) und die Angular Materials Komponenten, die über interne TypeScript API's
        konfiguriert werden können.
      </mat-card-content>
    </mat-card>

    <mat-card class="item-card">
      <mat-card-title class="card-title">Cloud Lösungen</mat-card-title>
      <mat-card-content class="card-content">
        In den vergangenen drei Jahren war ich als Cloud Solution Architekt tätig und konnte sehr viele
        Erfahrungen im System Engineering und im operativen Bereich sammeln. Besonderes Interesse stellen
        die Möglichkeiten der Automatisierung dar, welche die Fehleranfälligkeit und den zeitintensiven
        Aufwand der Mitarbeiter reduzieren können.
        <br>
        Die Konzeption der Cloud Architektur sollte stets unter den Aspekten der Skalierbarkeit, Security,
        Performance, hoher Verfügbarkeit und Kosteneffizient entstehen. Hierfür greife ich gerne auf
        <i>Serverless Computing</i> zurück. Prominente Beispiele in AWS sind u.a.:
        <li>Lambda Funktionen</li>
        <li>CodeBuild Projekte</li>
        <li>Glue ETL Jobs</li>
        <li>DynamoDB</li>
      </mat-card-content>
    </mat-card>

    <mat-card class="item-card">
      <mat-card-title class="card-title">Teamwork</mat-card-title>
      <mat-card-content class="card-content">
        Zur Arbeit eines Software Entwicklers gehört selbstverständlich die Bereitschaft zum lebenslangen Lernen,
        jedoch kann es sehr zeitintensiv sein, alle Technologien selbst zu erforschen und erfolgreich anzuwenden.
        Durch fachlichen Austausch und Diskussionen mit den Kollegen lassen sich viele Probleme gemeinsam
        lösen und neue Ideen entwickeln. Dabei unterstützt man sich gegenseitig und arbeitet die neuen Kollegen
        im Onboarding Prozess ein.
        <br>
        Vor allem in den Backlog Refinements kann sich jeder Mitarbeiter einbringen und somit Entwicklungsaufwände
        in Absprache mit den Product Ownern in der agilen Entwicklung besser und genauer abschätzen.
        <br>
        Vor allem sollte die Bildung von Inselwissen vermieden und stattdessen im Team und Projekt verteilt werden.
        Auch das Entwickeln von sogenannten <i>"Gott-Klassen"</i> oder ganzer Bibliotheken muss vermieden werden,
        da sich diese sehr negativ auf die Elastizität und Dynamik des gesamten Systems auswirken.
      </mat-card-content>
    </mat-card>

    <mat-card class="item-card">
      <mat-card-title class="card-title">Mathematik und Physik</mat-card-title>
      <mat-card-content class="card-content">
        Mein Studium der Quantenphysik und Mathematik ist zwar bereits einige Jahre her, doch interessiere ich mich
        immer noch auf populärwissenschaftlicher Basis für die aktuelle Forschung. In meinem Studium selbst habe ich
        mich vor allem mit der <i>allgemeinen Relativitätstheorie</i>, den
        kosmologischen Modellen der Urknalltheorie und der <i>Stringtheorie beschäftigt</i>.
        <br> Außerdem werde ich durch meine Freunde, die mittlerweile ihre Postdoc und Junior Professoren Stellen in
        der Mathematik und Kernphysik angetreten haben, auf dem Laufendem gehalten.
      </mat-card-content>
    </mat-card>

    <mat-card class="item-card" id="personal">
      <mat-card-title class="card-title">Persönliches</mat-card-title>
      <mat-card-content class="card-content">
        Wenn ich mich nicht mit Learning-Tutorials und Entwickler Blogs beschäftige oder populärwissenschaftliche
        Videos auf YouTube streame, dann mache ich für gewöhnlich Sport, z.B.:
        <ul id="list-sport">
          <li>Tischtennis</li>
          <li>Fitness Studio</li>          
          <li>Reisen</li>
        </ul>
        Außerdem koche ich sehr gerne und probiere neue Rezepte aus. Ansonsten verfolge ich die Bundesliga und
        Champions-League oder treffe mich mit Freunden.
      </mat-card-content>
    </mat-card>

  </div>
  <div fxFlex>
  </div>
  <app-footer class="footer-container"></app-footer>
</div>