<mat-sidenav-container style="height: 100vh;" lang="de">
  <mat-sidenav #sidenav [(opened)]="opened" mode="over">
    <div class="sidenav-menu">
      <p (click)="navToRoute('/home')" mat-button>Startseite</p>
      <p (click)="navToRoute('/skillset')" mat-button>Fähigkeiten</p>
      <p (click)="navToRoute('/interests')" mat-button>Interessen</p>
      <p (click)="navToRoute('/aboutme')" mat-button>Über Mich</p>
      <p (click)="navToRoute('/aboutsite')" mat-button>Über diese Seite</p>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="toolbar" color="primary">
      <mat-toolbar-row>
        <span class="home-button" (click)="navToRoute('/home')">Meine Entwicklerseite</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-icon-button class="menu-button" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="nav-routes">
          <a class="nav-button" routerLinkActive="active-link" [routerLink]="[ '/skillset' ]" mat-button>Fähigkeiten</a>
          <a class="nav-button" routerLinkActive="active-link" [routerLink]="[ '/interests' ]" mat-button>Interessen</a>
          <a class="nav-button" routerLinkActive="active-link" [routerLink]="[ '/aboutme']" mat-button>Über
            Mich</a>
          <a class="nav-button" routerLinkActive="active-link" [routerLink]="[ '/aboutsite']" mat-button>Über diese
            Seite</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>