mat-sidenav {
  max-width: 280px;
  width: 70%;
}

.sidenav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .menu-button {
    display: none
  }
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.toolbar {
  position: relative;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.38);
}

.content {  
  flex: 1 1 1e-09px;
  overflow: auto;
  height: 100%;
}

.home-button {
  cursor: pointer;
}

.active-link {
  background-color: #ffffff !IMPORTANT;
  color: #3f51b5 !IMPORTANT;
}

@media (max-width: 768px) {
  .nav-routes {
    display: none;

  }
}

.nav-button {
  font-size: 16px;
  letter-spacing: normal;
}

.nav-routes>a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}