<div fxLayout="row" style="height: 100vh;" lang="de">
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column" [(opened)]="opened">
      <div fxLayout="column">
        <a (click)="navToRoute('/skillset')" mat-button>Fähigkeiten</a>
        <a (click)="navToRoute('/interests')" mat-button>Interessen</a>
        <a (click)="navToRoute('/aboutme')" mat-button>Über Mich</a>
        <a (click)="navToRoute('/aboutsite')" mat-button>Über diese Seite</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <mat-toolbar class="toolbar" color="primary">
        <mat-toolbar-row>
          <span class="home-button" (click)="navToRoute('/home')">Meine Entwicklerseite!</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
          </button>
          <div fxShow="true" fxHide.lt-md class="nav-routes">
            <a routerLinkActive="active-link" [routerLink]="[ '/skillset' ]" mat-button>Fähigkeiten</a>
            <a routerLinkActive="active-link" [routerLink]="[ '/interests' ]" mat-button>Interessen</a>
            <a routerLinkActive="active-link" [routerLink]="[ '/aboutme']" mat-button>Über Mich</a>
            <a routerLinkActive="active-link" [routerLink]="[ '/aboutsite']" mat-button>Über diese Seite</a>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
