.mat-mdc-progress-bar {
    --mdc-linear-progress-track-height: 24px;
    --mdc-linear-progress-active-indicator-height: 24px;
}

.bar-label {
    color: white;
    z-index: 1000;
    position: absolute;
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px;
    border-radius: inherit;
}

.sub-bar {
    margin-bottom: 20px;
}

.skillsheet-title {
    font-size: 18px;
    text-align: center;
}

.skill-legend {
    margin-left: 24px;
    margin-right: 24px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
}

.skillset-content {
    margin-left: 10%;
    margin-right: 10%;
}

#skillset-legend {
    font-size: 13px;
}

.mat-card {
    box-shadow: none;
    background: none;
}

@media screen and (max-width: 768px) {
    .item {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .item-small {
        display: none;
    }
}