<div class="page-content">
  <div class="skillset-content">
    <h3 style="margin-top: 0; padding-top: 23px; text-align: center;">Skillsheet</h3>
    Hier finden Sie einen Überblick meiner IT-Skills nach Selbsteinschätzung.
    <br>
    <br>
    <span id="skillset-legend"><u>Zur Legende</u>: 1 = Beginner Level, 10 = Expert Level</span>
    <mat-card>
      <div class="skill-legend">
        <ng-container *ngFor="let idx of [1,2,3,4,5,6,7,8,9,10]">
          <span class="item" *ngIf="isWebView">{{idx}}</span>
          <span class="item-small" *ngIf="isMobileView && (idx == 1 || idx %5 ==0)">
            {{idx}}</span>
        </ng-container>
      </div>
      <mat-accordion multi="false" class="skillset-accordion">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <p class="bar-label">Backend</p>
            <mat-progress-bar mode="determinate" [value]="valueCalc(7)" aria-labelledby="Spring " aria-label="text ">
            </mat-progress-bar>
          </mat-expansion-panel-header>

          <p class="bar-label">Java</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(8)" aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>

          <p class="bar-label ">Spring Framework</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(8)" aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>

          <p class="bar-label ">Datenbanken / JPA / Hibernate</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(6)" aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>

          <p class="bar-label ">Testing: JUnit / Mockito</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(6)" aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <p class="bar-label ">Frontend</p>
            <mat-progress-bar mode="determinate " [value]="valueCalc(6)" aria-labelledby="Spring " aria-label="text ">
            </mat-progress-bar>
          </mat-expansion-panel-header>
          <p class="bar-label ">Angular</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(4.5) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">React</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(5.5) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">HTML / CSS</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(6.5) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">JavaScript / TypeScript</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(6.5) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <p class="bar-label ">Programmiersprachen</p>
            <mat-progress-bar mode="determinate " [value]="valueCalc(6.4)" aria-labelledby="Spring " aria-label="text ">
            </mat-progress-bar>
          </mat-expansion-panel-header>
          <p class="bar-label ">Java</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(8) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">C/C++</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(6) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">Python</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(5.5) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">Bash / ShellScripting</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(6) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">SQL</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(6.5) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <p class="bar-label ">DevOps</p>
            <mat-progress-bar mode="determinate " [value]="valueCalc(6.9)" aria-labelledby="Spring " aria-label="text ">
            </mat-progress-bar>
          </mat-expansion-panel-header>
          <p class="bar-label ">Docker</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(7) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">Continous Integration / Deployment</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(6.5) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">Monitoring & ETL</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(8) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">Automatisierungsprozesse</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(6) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">Konzeption und Dokumentation</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(7) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <p class="bar-label ">Cloud</p>
            <mat-progress-bar mode="determinate " [value]="valueCalc(7.5)" aria-labelledby="Spring "
              aria-label="text ">
            </mat-progress-bar>
          </mat-expansion-panel-header>
          <p class="bar-label ">AWS Services</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(8) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">Azure Cloud</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(5) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">Cloud & System Architekturen</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(8) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
          <p class="bar-label ">Operations & Support</p>
          <mat-progress-bar class="sub-bar " mode="determinate " [value]="valueCalc(8) " aria-labelledby="Spring "
            aria-label="text ">
          </mat-progress-bar>
        </mat-expansion-panel>
      </mat-accordion>
      <p>
        <b><u>Weitere IT-Fähigkeiten</u></b>
      </p>
      <ul>
        <li>Git Workflows & Software Konfigurationsmanagement</li>
        <li>Gängige IDE's und Entwickler tools</li>        
        <li>Office Anwendungen</li>
      </ul>
    </mat-card>
  </div>
  <app-footer class="footer-container"></app-footer>
</div>