.center {
    text-align: center;
}

.aboutMe-content {
    margin-right: 10%;
    margin-left: 10%;
}


.date {
    font-size: 12px;
    margin-top:4px;
}
.headline {
    font-size: 14px;
    margin-bottom:2px;
}