<div class="page-content" fxLayout="column" fxLayoutAlign="start space-between" fxLayoutGap="0px">
  <div class="aboutMe-content" fxFlex="1 1 auto">
    <div>
      <h3 style="text-align: center;">Kurzinfo</h3>
      Ich bin Timo Radtke, 34 Jahre alt, komme ursprünglich aus Münster und wohne zur Zeit in Soest. Nach meinem Studium
      der mathematischen Physik und anschließender Zeit als Wissenschaftler an der WWU Münster habe ich zunächst als Web
      Entwickler für das Startup <i>Ad-Boxx</i> in Rheine gearbeitet. Anschließend war es mein Wunsch Lehrer zu werden,
      konnte jedoch mein Referendariat nicht aufnehmen. Bis vor kurzem war ich als Software Entwickler für die
      Breitenbach Software Engineering GmbH in Soest tätig. Zur Zeit bin ich auf der Suche nach einer anspruchsvollen
      Tätigkeit als Entwickler.
    </div>

    <div class="headline-stepper" id="interactive-cv">
      <h3 style="text-align: center;">Interaktiver Lebenslauf</h3>
      Hier eine kurze Übersicht meiner bisherigen Stationen. Für eine detailierte Darstellung bitte den Stepper
      nutzen.
    </div>
    <mat-vertical-stepper id="stepper" (selectionChange)="animationEnded($event)">
      <ng-template matStepperIcon="edit">
        <mat-icon>donut_large</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="number" let-index="index">
        <mat-icon>donut_large</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon>stars</mat-icon>
      </ng-template>
      <mat-step id="step0">
        <ng-template matStepLabel>
          <p class="headline">Abitur</p>
          <p class="date">Juli 2006</p>
          <p class="location">Kopernikus Gymnasium Rheine</p>
        </ng-template>
        <ng-template matStepperIcon="done">
          <mat-icon>stars</mat-icon>
        </ng-template>
        <p> Leistungskurse Informatik, Physik und Mathematik</p>
        <p>Teilnahme an Wettbewerben</p>
        <ul>
          <li>Mathematik Olympiade</li>
          <li>Bundeswettbewerb Mathematik</li>
          <li>Bundeswettbewerb Informatik</li>
        </ul>
      </mat-step>
      <mat-step id="step1">
        <ng-template matStepLabel>
          <p class="headline">Diplom</p>
          <p class="date">Oktober 2006 - Septempber 2015</p>
          <p class="location">WWU Münster</p>
        </ng-template>
        <ng-template matStepperIcon="done">
          <mat-icon>stars</mat-icon>
        </ng-template>
        <p>Abschluss: Diplom Physik</p>
        <div>
          <p>Schwerpunkte Physik </p>
          <ul>
            <li>Allgemeine Relativitätstheorie</li>
            <li>Quantenfeldtheorien</li>
            <li>Quantenchromodynamik</li>
            <li>Standardmodell der Kernphysik</li>
          </ul>
        </div>
        <div>
          <p> Schwerpunkte Mathematik</p>
          <ul>
            <li>Differential Geometrie</li>
            <li>Topologie</li>
            <li>Eichfeldtheorien</li>
            <li>Kähler-Mannigfaltigkeiten</li>
            <li>Stringtheorie</li>
          </ul>
        </div>
        <div>
          <p>Tutor Physik I & II</p>
          <ul>
            <li>Betreuung von ca. 20 Studenten</li>
            <li>Wöchentliche Korrektur und Besprechung der Übungsaufgaben</li>
            <li>Klausuraufsicht</li>
          </ul>
        </div>
      </mat-step>
      <mat-step id="step2">
        <ng-template matStepLabel>
          <p class="headline">Wissenschaftlicher Mitarbeiter</p>
          <p class="date">Oktober 2015 - September 2016</p>
          <p class="location">Institut für theoretische Physik Münster</p>
        </ng-template>
        <ng-template matStepperIcon="done">
          <mat-icon>stars</mat-icon>
        </ng-template>
        <p>Datenanalyse von experimentellen Metadaten</p>
        <p>Grundlagenforschung auf Basis meiner Diplomarbeit</p>
        <p>Tutor Physik I & II</p>
      </mat-step>
      <mat-step id="step3">
        <ng-template matStepLabel>
          <p class="headline">Web Entwickler</p>
          <p class="date">April 2017 - Oktober 2017</p>
          <p class="location">Ad-Boxx Rheine</p>
        </ng-template>
        <p>Web Entwickler</p>
        <ul>
          <li>Webpräsenz in Form einer SPA in AngularJS</li>
          <li>Werbeportal E-Marketing Plattform</li>
          <li>Backend in Node.js</li>
          <li>Deployment und IT-Administration</li>
        </ul>
        <p>Organisation</p>
        <ul>
          <li>Planung und Konzeption im Team</li>
          <li>Kommunikation der IT-Projekte</li>
          <li>Beratung der Geschäftsführung</li>
        </ul>
      </mat-step>
      <mat-step id="step4">
        <ng-template matStepLabel>
          <p class="headline">Vorbereitung Referendariat</p>
          <p class="date">Januar 2018 - Juli 2018</p>
          <p class="location">WWU Münster</p>
        </ng-template>
        <p>Studium der Didaktik als Gasthörer</p>
        <p>Erstellung eines Kolloquiums</p>
        <p>Unterichtsvorbereitung</p>
      </mat-step>
      <mat-step id="step5">
        <ng-template matStepLabel>
          <p class="headline">Software Entwickler</p>
          <p class="date">August 2020 - Februar 2021</p>
          <p class="location">Breitenbach Software Engineering GmbH Soest</p>
        </ng-template>
        <p>Einarbeitung in die hausinterne Pragrammiersprache diasE</p>
        <p>Kernentwickler der Systemarchitektur</p>
        <ul>
          <li>Anforderungsanalyse und Konzeption</li>
          <li>Weiterentwicklung des diasE Compilers</li>
          <li>Fehleranalyse und Code Optimierung</li>
          <li>Kommunikation mit der Geschäftsführung</li>
        </ul>
        <p>diasE Entwicklung der Lohnzentrale</p>
        <ul>
          <li>Projektplanung und Konzeption im Team</li>
          <li>Implementation von Auswertungsprogrammen</li>
        </ul>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <!-- <div fxFlex>
  </div> -->
  <app-footer fxFlex="1 1 150px" class="footer-container"></app-footer>
</div>
