<div class="aboutMe-content">

    Persönliche Informationen Lebenslauf Hobbys? Github Account zu Beispiel repos. LinkedIn Email Foto?

    <div>
        <h3 style="text-align: center;">Kurzinfo</h3>
        Ich bin Timo Radtke, 33 Jahre alt und lebe in Münster. Nach meinem Studium der mathematischen Physik und anschließender Zeit als Wissenschaftler an der WWU Münster habe ich zunächst als Web Entwickler für das Startup <i>Ad-Boxx</i> in Rheine gearbeitet.
        Anschließend war es mein Wunsch Lehrer zu werden, konnte jedoch mein Referendariat nicht aufnehmen.
        <br>Daher suche ich zur Zeit eine Beschäftigung als Java-Software Entwickler im Raum Münster.
    </div>

    <mat-vertical-stepper>
        <ng-template matStepperIcon="edit">
            <mat-icon>donut_large</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="number" let-index="index">
            <mat-icon>donut_large</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
            <mat-icon>stars</mat-icon>
        </ng-template>
        <mat-step>
            <ng-template matStepLabel>
                <p class="headline">Abitur</p>
                <p class="date">Juli 2006</p>
            </ng-template>
            <ng-template matStepperIcon="done">
                <mat-icon>stars</mat-icon>
            </ng-template>
            <p> Kopernikus Gymnasium Rheine </p>
            <p> Leistungskurse Informatik, Physik und Mathematik</p>
            <p> Abiturnote: 2,8</p>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                <p class="headline">Diplom</p>
                <p class="date">Septempber 2015</p>
            </ng-template>
            <ng-template matStepperIcon="done">
                <mat-icon>stars</mat-icon>
            </ng-template>
            <p> Abschluss: Diplom Physik</p>
            <p>Abschlussnote: 2,6</p>
            <div>
                <p>Schwerpunkte Physik </p>
                <ul>
                    <li>Allgemeine Relativitätstheorie</li>
                    <li>Quantenfeldtheorien</li>
                    <li>Standardmodell</li>
                </ul>
            </div>

            <div>
                <p> Schwerpunkte Mathematik</p>
                <ul>
                    <li>Differential Geometrie</li>
                    <li>Topologie</li>
                    <li>Kähler-Mannigfaltigkeiten</li>
                    <li>Stringtheorie</li>
                </ul>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                <p class="headline">Wissenschaftlicher Mitarbeiter</p>
                <p class="date">September 2016</p>
            </ng-template>
            <ng-template matStepperIcon="done">
                <mat-icon>stars</mat-icon>
            </ng-template>
            <p>Datenanalyse</p>
            <p>Grundlagenforschung</p>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                <p class="headline">Ad-Boxx Rheine</p>
                <p class="date">Oktober 2017</p>
            </ng-template>
            <p>Web-Entwickler</p>
            <ul>
                <li>Webpräsenz</li>
                <li>Werbeportal</li>
                <li>Backend</li>
            </ul>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                <p class="headline">Vorbereitung Referendariat</p>
                <p class="date">Juli 2018</p>
            </ng-template>
            <p>Studium der Didaktik</p>
            <p>Erstellung eines Kolloquiums</p>
        </mat-step>
    </mat-vertical-stepper>
</div>